<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
</head>
<body>
<div class="container text-center">

    <form th:action="@{/register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">

        <div class="m-3">
            <div class="container text-center">
                <span th:utext="${reg_conflict}"></span>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">E-post: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                    <p th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Passord: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"/>
                    <p th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Gjenta Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{matchingPassword}" class="form-control"/>
                    <p th:each="error : ${#fields.errors('matchingPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
            </div>
            <div th:if="${#fields.hasErrors('global')}">
                <h3>Feil oppstod:</h3>
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />

            </div>
                <div>
                    <button type="submit" class="btn btn-primary">Registrer Bruker</button>
                </div>
            </div>
    </form>
</div>
</body>
</html>